/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/08/2017, 06:42:16 PM
    Author     : Soportepq
*/
html, body{
    width: 100%;
    height: 105%;
    margin: 0;
    background: #00797e;
    font-family: sans-serif;
}
header{
    float: left;
    width: 10%;
    height: 100%;
    background:linear-gradient(#191e34,#0e4c57,black);
}

nav{
       width: 100%;
    height: 6%;
    background: #040404;
    margin-top: 2.8%;
}
.title{
    width: 100%;
    height: 5%;
}

.menu{
    width: 100%;
    height: 98%;
}

.menu ul{
        width: 100%;
    height: 100%;
    padding-left: 0;
    margin: 0;
}

.menu ul li{
   border-top: solid 1px #0e4c57;
    list-style-type: none;
    /* float: left; */
    width: 100%;
    height: 50%;
    margin-left: 0;
}

.link{
     width: 100%;
    height: 100%;
}


.content{
    margin: 8% 15%;
    width: 60%;
    height: 70%;
    background: white;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 10px;
    float: left;
}

section{
   width: 80%;
    margin: 0 auto;
    height: 100%;
    padding-top: 3%;
}
.cajastexto{
    height: 5%;
}

.texbox{
    width: 100%;
    height: 100%;
    font-size: 110%;

}

.check{
    float: left;
}

.labelcheck{
    margin-left: 5%;
}

.botonenviar{
    width: 70%;
    margin: 0 auto;
    height: 5%;
}

.boton{
    background-color: green;
    border-radius: 10px;
    border-style: none;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    font-weight: 700;
}

.boton:hover{
    background-color: #0e690e;
    color: white;
    font-weight: 700;
}